
html {
    margin: 0 0;
    font-size: 16px;
    margin: 0 2rem;
    font-family: "Noto Sans";
    overflow: scroll;
    background-color: #f5f5f5;
    color: #212121;
}
header {
   display: flex;
   flex-direction: column;
}
body {
    margin: 1rem auto;
    width: 70rem;
}
#name {
    background-color: #ffffff;
    color: #212121;
    padding: 1rem;
    border-radius: 2rem;
    text-transform: lowercase;
    width: 13rem;
    height: 5px;
    text-align: center;
    margin: .5rem;
    margin-bottom: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #212121 solid;
}
.name-photo {
    max-width: 400px;
    justify-items: center;
    align-self: end;
}
.img-anthony {
    width: 18rem;
    height: 12rem;
    object-fit: cover;
    border: 2px black solid;
    border-radius: 2rem;
}
.nav-items {
    display: flex;
    position: absolute;
    top: 4rem;
    width: 20rem;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: 1.5rem;
    background-color: #ffffff;
    color: #212121;
    list-style: none;
    border: 2px #212121 solid;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: 1rem;
}
.nav-items a {
    text-decoration: none;
}
.nav-items p:hover {
    transform: scale(1.3);
    transition: ease-in-out .2s;
}
.nav-items :visited {
    color: #292929;
}

#about-me {
    max-width: 100vw;
    position: absolute;
    top: 150px;

}
#about-me h2 {
    font-size: 6rem;
    display: flex;
    justify-self: baseline;
}
#about-me p {
    font-size: 2rem;
    font-style: italic;
    border: 2px #212121 solid;
    border-radius: 2rem;
    padding: 2rem;
    background-color: #ffffff;
}
#projects {
    margin-bottom: 40px;
    margin-top: 15rem;
    max-width: 100vw;
}
#projects h2 {
    font-size: 6rem;
    display: flex;
    justify-self: end;
}
section h2 {
    margin-bottom: 0;
}
.underline span {
    display: inline-block;
}
.underline span::after {
  content: '';
  height: 3px;
  background: black;
  border-radius: 5px;
  display: block
}
.no-margin-bottom {
    margin-bottom: 0px;
}
.no-margin-top {
    margin-top: 0px;
}
.projects-container {
    display: flex;
    justify-content: center;
    justify-self: center; 
    position: relative;
}
div .project {
    justify-items: center;
}
.project-name {
    margin-bottom: 10px;
    text-transform: lowercase;
    font-size: 1.75rem;
}
div .project p {
    text-align: center;
}
.detail-box {
    border: 3px #212121 solid;
    border-radius: 60px;
    width: 12rem;
    height: 10rem;
    padding: 20px;
    margin: 2rem;
    display: flex;
    align-items: center;
    margin-top: 0px;
    background-color: #ffffff;
    color: #212121;
    transition: ease-in-out .2s;
}
.detail-box a {
    text-decoration: none;
    color: #212121;
}
.detail-box:hover {
    transform: scale(1.05);
    margin-top: 15px;
    margin-bottom: -15px;
    transition: ease-in-out .2s;
}
#collab {
    width: 25rem;
    height: 5rem;
    justify-self: center;
    text-align: center;
    margin-bottom: 80px;
}
#collab p {
    font-size: 1.5rem;
    font-style: italic;
    color: #212121;
    transition: ease-in-out .2s;
}
#collab p:hover {
    transform: scale(1.05);
    transition: ease-in-out .2s;
}

footer {
    position: fixed;
    background-color: #ffffff;
    height: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0;
    border: 1px black solid;
    border-radius: 10px;
    align-content: center;
}
.skill-logos {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 25rem;
}
.skill-logo {
    margin-left: .5em;
    margin-right: .5rem;
    transition: ease-in-out .2s;
}
.skill-logo-node {
    margin-left: .5em;
    margin-right: .5rem;
    transition: ease-in-out .2s;
}
.skill-logo:hover {
    transform: scale(1.3);
    transition: ease-in-out .2s;
    margin-left: 1em;
    margin-right: 1rem;
}
.skill-logo-node:hover {
    transform: scale(1.3);
    margin-left: 1em;
    margin-right: 1rem;
    transition: ease-in-out .2s;
}
.skill-logo {
    height: 2.5rem;
    filter: grayscale(1) contrast(20) brightness(1);
}
.skill-logo-node {
    height: 2.5rem;
    filter: grayscale(1) contrast(8) brightness(1);
}


/* CONTACT SYLTING */

#contact {
    margin-top: 2rem;
    justify-items: center;
}
#contact a {
    margin-top: -1rem;
    padding-bottom: 1rem;
}
.contact-me {
    background-color: #ffffff;
    color: #212121;
    border: 2px black solid;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    text-align: center;
}
.contact-me p {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: .25rem;
    margin-bottom: 1.25rem;
}
.email {
    background-color: #ffffff;
    color: #212121;
    border: 2px black solid;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.email a {
    color: #212121;
    transition: ease-in-out .2s;
}
.email a:hover {
    transform: scale(1.05);
    transition: ease-in-out .2s;
}
.instagram a {
    color: #212121;
    transition: ease-in-out .2s;
}
.instagram a:hover {
    transition: ease-in-out .2s;
    transform: scale(1.05);
}
.instagram {
    background-color: #ffffff;
    color: #212121;
    border: 2px black solid;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
}